// Header
$header-bg-color: white;
$header-font-color: black;
$logo-color-active: red;
$header-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

// Main
$container-inputs-bg-color: white;
$container-header-bg-color: rgb(19, 209, 105);
$input-bg-color: #f0f0f0;
$main-font-color: black;
$container-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

// Menu
$menu-bg-color: black;
$menu-border-color: #c61d25;

// Footer
$footer-bg-color: rgb(27, 27, 27);
