@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

$header-links-font: "Poppins", sans-serif;
$main-font: "Ubuntu", sans-serif;
$main-header-font: "Noto Sans", sans-serif;
$menu-font: "Oxygen", sans-serif;
$footer-font: "Poppins", sans-serif;
